
* {
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  background-color: darkgreen;
  display: inline-block;
  padding: 16px;
  opacity: 0.8;
  cursor: pointer;
  margin: 16px;
}

.menu-list {
  position: absolute;
  color: black;
  list-style-type: none;
  background-color: lightcyan;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  width: 120px;
  z-index: 1;
  display: none;
  top: 50.4px;
  left: 0px;
}

.menu-button {
  color: white;
  font-size: 16px;
}

.menu-item {
  padding: 16px;
}

.dropdown:hover .menu-list {
  display: block;
}

.dropdown:hover {
  opacity: 1;
}

.menu-list:hover {
  background-color: ghostwhite;
}